<!DOCTYPE html>

<html>

<head>
    <title>About</title>
</head>

<body>
    {{>header}}
    <div>
        <p>An ExpressJS application that provides real time accurate weather forecast for a location. //Austin,
            Himalyas, Japan, Berlin, Andaman, Wakanda or whatever.<br> Utilizes Mapbox API to fetch the coordinates of
            the
            provided location, pipes them to Weatherstack API to fetch the forecast.</p>
        <p>Get source at:
            <a target='_blank' href='https://github.com/maverickreal/weather-app'>Here</a>
        </p>
    </div>
    {{>footer}}
</body>

</html>