<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
</head>

<body>
    {{>header}}
    <div>
        <p>
        <ul>
            <li>Type in a location (Austin, Himalyas, Japan, Berlin, Andaman, Wakanda or whatever)</li>
            <li>Click submit</li>
        </ul>
        </p>
    </div>
    {{>footer}}
</body>

</html>