<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    {{>header}}

<body>
    <div class="main-content">


        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="m1"></p>
        <p id="m2"></p>
    </div>
    <script src="/js/app.js"></script>
</body>
{{>footer}}

</html>